
.projects {
    height: 100%;
    width: 100%;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: .5em;
}

.projects {
    background: none;
    
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
    letter-spacing: 1.5px;
    text-transform: lowercase;
    
}

.single-project {
    
    position: relative;
    background-color: rgba(0, 0, 0, .04);
    height: 100%;
    border-radius: 4px;
    
    flex: 1 1 33%;
    cursor: pointer;
    box-shadow: rgb(0 0 0 / 30%) 0px 3px 5px 2px;
}

.single-project:hover {

    background-color: rgba(117, 207, 248, .3);
       
}

.single-project .project-title {
    font-size: 2em;
}

.clone {
    content: "";
    background-repeat: no-repeat !important;
    background-size: cover !important;
    opacity: 0.5;
    position:absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    padding: 0 !important;
}

.single-project h2 {
    font-size: 2em;
    color:#75cff8;
    margin-bottom: 2em;
}

.single-project p {
    font-size: .75em;
}

.single-project div {
    
    height: 100%;
    width: 100%;
    background: none;
    padding: .25em .25em .25em 1em;
}

.selected-project {
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #232a2e !important;
    /* border: 2px solid #edf0f1; */
    flex: 0 3 ;
    display: flex;
    gap: 1em;
    flex-wrap: nowrap;
    justify-content: center;
    /* padding-top: 2em; */
    box-shadow: rgb(0 0 0 / 30%) 0px 3px 5px 2px;
    height: 0;
    min-height: 50%;
    align-items: center;
    
    
    
    
}



.selected-project .description, .selected-project .snippet {
    display: inline-block;
    margin: 2em;
}

.selected-project .description {
    flex: 0 1 60%;
    overflow: auto;

    
    
}

.selected-project .snippet {
    flex: 0 2 40%;
    
}

.selected-project div img {
    display: inline-flex;
    width: 100%;
    height: 100%;
}

.selected-project a {
    text-decoration: none;
    
    color: #75cff8;

}

.selected-project a h2 {
    font-size: 1.5em;
}

.selected-project a h2:hover {
    color: #edf0f1;
}

.snippet {
    box-shadow: rgb(0 0 0 / 30%) 0px 3px 5px 2px;
    
    max-width: 320px;
    max-height: 320px;
    border-radius: 4px;
}
