body {
    font-size: 14px;
}

main {
    width: calc(100vw - 4rem);
    height: calc(100vh - 8rem);
    margin: 6rem 2rem 2rem 2rem;
    justify-content: center;
}

::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

::-webkit-scrollbar-track {
    background: #232a2e;
}

::-webkit-scrollbar-thumb {
    background: #1a2125;
    border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
    background: #75cff8;
}
::-webkit-scrollbar-corner {
    background: #232a2e;
}

@media (max-width:480px) {
    
    main {
        width: calc(100vw - 2rem);
        height: calc(100vh - 6rem);
        margin: 5rem 1rem 1rem 1rem;
        justify-content: center;
    }
}